<mat-toolbar color="primary" class="main-purple-bg">
  <div class="layout-max-width topbar-container">
    <button mat-icon-button class="header-icon" aria-label="Go back homepage">
      <mat-icon>home</mat-icon>
    </button>
    <span>Mohammad-Ali A'râbi</span>
    <span class="header-spacer"></span>
    <a [href]="githubLink" mat-icon-button class="header-icon favorite-icon" aria-label="Github profile">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a [href]="linkedInLink" mat-icon-button class="header-icon favorite-icon" aria-label="LinkedIn profile">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
    <a [href]="twitterLink" mat-icon-button class="header-icon" aria-label="English Twitter account">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
  </div>
</mat-toolbar>
