<p></p>

<p>
  I'm a software developer based in <a href="https://en.wikipedia.org/wiki/Freiburg_im_Breisgau">Freiburg im Breisgau</a>.
  By day, I code in TypeScript (Node.js and Angular) at <a href="https://www.apptec360.com/">AppTec GmbH</a>,
  and by  night, I research in Type Theory (more specifically, linear types and event-driven programming) as a student/researcher
  at <a href="https://uni-freiburg.de/">Albert-Ludwigs-Universität Freiburg</a> under Peter Thiemann.
  I also contribute to open-source regularly, maintaining Coq packages and creating Node.js libraries,
</p>

<h2>Name</h2>
<p>
  My name spells <b>Mohammad-Ali A'râbi</b> or <b>Mohammad-Ali Aerabi</b> (officially <b>Mohammad Ali Arabi</b>) based
  on the Persian pronunciation of <b> محمدعلی اعرابی</b>, a name of Arabic origin.
</p>
