<div class="greeting" gaCategory="ga_visitor_name">
  Welcome {{ isHonorableGuest() ? 'honorable guest' : givenName }}.
  <span *ngIf="isEveryPleasureAvailableInside()">Every pleasure is available  inside.</span>
  <span *ngIf="!givenName">What's your name?</span>

  <form class="greeting-input-form">
    <mat-form-field class="form-field-given-name">
      <mat-label>Given Name</mat-label>
      <input matInput name="givenName" placeholder="Simon" [(ngModel)]="givenName"
             gaEvent="given_name_blur" gaAction="given_name_blur" gaBind="blur">
    </mat-form-field>

    <mat-form-field class="form-field-family-name">
      <mat-label>Family Name</mat-label>
      <input matInput name="familyName" placeholder="Riley" [(ngModel)]="familyName"
             gaEvent="family_name_blur" gaAction="given_name_blur" gaBind="blur">
    </mat-form-field>

    <button mat-flat-button (click)="saveUserData()">Save</button>
  </form>
</div>

<div class="greeting" *ngIf="!!givenName">
  <p>What is the main purpose of your visit, {{givenName}}?</p>

  <button mat-flat-button color="primary" (click)="quickSectionChoice = 'sponsor'">Sponsor Me</button>
  <button mat-flat-button color="primary" (click)="quickSectionChoice = 'learn'">Learn from Me</button>
  <button mat-flat-button color="primary" (click)="quickSectionChoice = 'links'">Get in Touch with Me</button>
</div>

<div class="greeting" *ngIf="quickSectionChoice === 'sponsor'">
  <a mat-flat-button color="accent" href="https://github.com/sponsors/aerabi" target="_blank">Sponsor Me on GitHub</a>
</div>

<div class="greeting" *ngIf="quickSectionChoice === 'learn'">
  <a mat-flat-button color="accent" href="https://medium.com/@aerabi" target="_blank">Medium</a>
  <a mat-flat-button color="accent" href="https://www.youtube.com/watch?v=z6tjG7JeOeQ" target="_blank">YouTube</a>
</div>

<div class="greeting" *ngIf="quickSectionChoice === 'links'">
  <a mat-flat-button color="accent" href="https://www.linkedin.com/in/aerabi/" target="_blank">LinkedIn</a>
  <a mat-flat-button color="accent" href="https://www.researchgate.net/profile/Mohammad-Ali-Arabi" target="_blank">ResearchGate</a>
  <a mat-flat-button color="accent" href="https://steamcommunity.com/id/aerabi/" target="_blank">Steam</a>
  <a mat-flat-button color="accent" href="https://github.com/aerabi" target="_blank">GitHub</a>
</div>

